<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>secondNames</key>
	<array>
		<string>Иванов</string>
		<string>Алексеев</string>
		<string>Петров</string>
		<string>Сидоров</string>
		<string>Краснов</string>
		<string>Чернов</string>
		<string>Белов</string>
		<string>Травин</string>
		<string>Петренко</string>
		<string>Кравец</string>
		<string>Запорожец</string>
		<string>Подгородний</string>
		<string>Шевченко</string>
		<string>Любимов</string>
		<string>Тихонов</string>
		<string>Михайлов</string>
		<string>Богданов</string>
		<string>Москаленко</string>
		<string>Маковецкий</string>
		<string>Хохлов</string>
		<string>Добровольский</string>
		<string>Лебедев</string>
		<string>Судаков</string>
		<string>Харитонов</string>
		<string>Овечкин</string>
		<string>Кобылин</string>
		<string>Евстигнеев</string>
		<string>Вяземский</string>
		<string>Соловьев</string>
		<string>Журавлев</string>
		<string>Савченко</string>
	</array>
	<key>names</key>
	<array>
		<string>Александр</string>
		<string>Алексей</string>
		<string>Антон</string>
		<string>Артем</string>
		<string>Борис</string>
		<string>Виктор</string>
		<string>Владимир</string>
		<string>Вячеслав</string>
		<string>Денис</string>
		<string>Дмитрий</string>
		<string>Евгений</string>
		<string>Иван</string>
		<string>Константин</string>
		<string>Михаил</string>
		<string>Никифор</string>
		<string>Николай</string>
		<string>Олег</string>
		<string>Остап</string>
		<string>Павел</string>
		<string>Петр</string>
		<string>Семен</string>
		<string>Станислав</string>
		<string>Федор</string>
		<string>Эдуард</string>
		<string>Юрий</string>
	</array>
</dict>
</plist>
